.password-wrapper {
  position: relative;
}

.password-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: white;
  font-size: 18px;
}