.main-content {
    margin-left: 16.66667%;
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 0;
}

@media (min-width: 1400px) {
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}