.main-content {
    margin-left: auto;
    padding: 0;
}

.main-content-inner {
    height: 100%;
}


.dashboard-main {
    min-height: 100vh;
}

body {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}