
.doctor-header {
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    height: 90px;
    background: #fff;
    padding: 0 30px;
}

.doctor-header h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #1c1c1c;
    margin: 0;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.flex-dd {
    flex: auto;
    padding-right: 20px;
}

.header-right {
    display: flex;
    align-items: end;
    gap: 20px;
}

.notification-icon {
    background-color: white;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
}

.lab-badge {
    border-left: 1px solid #e8e8e8;
    width: auto;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    padding: 0 30px;
}