.form-header {
    background: linear-gradient(90.32deg, #0152A8 20.79%, #00254C 73.28%);
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1360px;
    }
}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.form-header .navbar-expand-lg {
    justify-content: space-between;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}


a {
    text-decoration: none;
    display: inline-block;
}

.form-header a.navbar-brand h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #fff;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-header .formheader-right ul li a {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #0152a8;
}

.form-section {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 0;
}

.main-heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    color: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.form-section:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #011225 -0.64%, rgb(0 37 76 / 72%) 51.74%, rgb(0 37 76 / 55%) 100%);
}

.form-section .form-group input,
.form-section .form-group select {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    width: 100%;
    height: 56px;
    background: transparent;
    padding: 0 20px;
    box-shadow: none;
}

.form-section .form-group input::placeholder,
.form-section .password-field input::placeholder {
    color: rgba(255, 255, 255, 0.95);
    opacity: 1;
}

.form-section .formsec-main {
    position: relative;
    z-index: 9;
}

.form-section .formbxx-warrper {
    width: 75%;
}

.section-heading {
    position: relative;
    z-index: 1;
}

.form-section .formsec-main .main-heading {
    margin-bottom: 10px;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1360px;
    }
}

.form-section .form-group {
    margin-bottom: 20px;
}

.form-section .password-field button {
    background: none;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
}

.form-section .password-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    width: 100%;
    height: 56px;
    background: transparent;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.form-section .password-field input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    background: transparent;
    height: 100%;
    padding: 0 20px;
    border-radius: 0;
}

.form-section .forgot {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.btn-all {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #0152a8;
    border-radius: 100px;
    width: 100%;
    border: none;
    padding: 14px;
}

.form-section .formsec-bxx .form-para {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.form-section .formsec-bxx .form-para a {
    font-weight: 700;
    text-transform: capitalize;
    color: inherit;
}

.form-footer {
    background: linear-gradient(90.79deg, #0152A8 28.04%, #00254C 82.9%);
    padding: 75px 0 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1360px;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

a {
    text-decoration: none;
    display: inline-block;
}

.form-footer-logo a h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 38px;
    line-height: normal;
    color: #fff;
    margin-bottom: 20px;
}

.form-content p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(255, 255, 255, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.form-sicons ul li a {
    border-radius: 100%;
    border: 0.94px solid #fff;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-sicons ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-sicons ul li {
    text-align: center;
}

.formf-last {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.formf-last p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
}

.formf-last p a {
    font-weight: 500;
    font-size: 16px;
    color: inherit;
}

.password-wrapper {
    position: relative;
}

.password-eye {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    color: #0152A8;
    font-size: 20px;
}