.custom-table {
    width: 100% !important;
}

.custom-table thead th {
    background: #f8f9fa !important;
    font-weight: 700 !important;
    color: #1c1c1c !important;
    padding: 14px !important;
}

.custom-table th,
.custom-table td {
    border: 1px solid black !important;
    padding: 12px;

}

.custom-table thead th {
    background: #f5f5f5;
}


