.table> :not(caption)>*>* {
    padding: .75rem .75rem !important;
}

.custom-table {
    width: 100% !important;
}

.custom-table thead th {
    background: #f8f9fa !important;
    font-weight: 700 !important;
    color: #1c1c1c !important;
    padding: 14px !important;
}

.custom-table tbody td {
    padding: 18px 14px !important;
    vertical-align: middle !important;
}

.custom-table td,
.custom-table th {
    white-space: nowrap !important;
}