.sidebar-header {
    padding: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #0152a8;
}

.sidebar-header h4 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #0152a8 !important;
}

.sidebar .nav-link {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 2px 0;
    gap: 10px;
    transition: all 0.3s ease;
    border-radius: 100px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #1d1d1d;
    margin-bottom: 30px;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.sidebar .nav-link.active {
    color: white;
    width: 100%;
    box-shadow: 4px 4px 50px 0 rgba(58, 111, 248, 0.12);
    background: #0152a8;
}

.sidebar .nav-link.active svg path {
    fill: white;
}


.sidebar {
    background-color: #ffffff;
    padding: 40px 30px;
    height: 100vh;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #e8e8e8;
    z-index: 999;
    overflow-y: auto;
}



.main-content {
    margin-left: 260px;
}



.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 22px;
}


@media (max-width: 991px) {

    .mobile-menu {
        display: block;
        margin-right: 15px;
    }

    .sidebar {
        width: 280px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        z-index: 99999;
        padding: 20px;
    }

    .sidebar.show-bar {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0 !important;
        width: 100%;
    }

    .sidebar-header {
        margin-bottom: 30px;
    }

    .sidebar-header h4 {
        display: block;
        font-size: 24px;
    }

    .sidebar .nav-link {
        padding: 12px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}


@media (max-width: 575px) {

    .sidebar {
        width: 80%;
        padding: 20px;
    }

    .sidebar-header {
        margin-bottom: 20px;
    }

    .sidebar-header h4 {
        font-size: 20px;
    }

    .sidebar .nav-link {
        font-size: 14px;
    }
}