/* .table-section {
    border: 1px solid #f0f0f0;
    border-radius: 14px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 11px 0 rgba(199, 199, 199, 0.1), 0 20px 20px 0 rgba(199, 199, 199, 0.09), 0 46px 27px 0 rgba(199, 199, 199, 0.05), 0 81px 32px 0 rgba(199, 199, 199, 0.01), 0 127px 36px 0 rgba(199, 199, 199, 0);
    background: #fff;
}


.table-header h5 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #1c1c1c;
}


.welcome-message {
    background: #0f5132;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 20px;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
      */

.custom-table {
    margin: 0;
}


.custom-table thead th {
    border: none;
    background-color: transparent;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 700 !important;

}

.custom-table thead tr {
    border-bottom: 1px solid #e8e8e8;
}

.custom-table tbody td {
    border: none;
    padding: 16px;
    vertical-align: middle;
    border-bottom: 1px solid #f8f9fa;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}


.doctor-info {
    display: flex;
    align-items: center;
}

.doctor-info span {
    font-weight: 500;
    font-size: 12px;
    color: #1c1c1c;
}

.doctor-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.doc-type {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
    gap: 10px;
}

.status {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

.status.completed {
    font-weight: 500;
    font-size: 12px;
    color: #14cc26;
}

.status.in-completed {
    font-weight: 500;
    font-size: 12px;
    color: #ff2626;
}

.status.in-progress {
    font-weight: 500;
    font-size: 12px;
    color: #0152a8;
}

.main-c-inner {
    padding: 30px 20px 30px 30px;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}


.sidebar .dropdown-menu {
    position: relative !important;
    top: unset !important;
    bottom: unset !important;
    transform: translate(0) !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100% !important;
    height: 100% !important;
    background: #0152a8;
    border-radius: 10px;
    inset: unset !important;
}

.sidebar .dropdown-item {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
}


.sidebar .dropdown-item:hover {
    background: #035ebf;
    color: #fff;
}

.fltr-btn {
    margin-top: 15px;
}

@media screen and (max-width:767px) {
    #notifDropdownBox {
        width: 300px !important;
        left: -157px !important;
    }
}


@media (max-width: 991px) {
    .sidebar {
        position: relative;
        height: auto;
        padding: 10px;
    }

    .main-content {
        margin-left: 0;
    }

    .header {
        align-items: center;
    }

    .header-right {
        width: 100%;
    }

    .search-box {
        width: 100%;
    }

    .stats-card {
        margin-bottom: 15px;
    }

    .chart-controls {
        align-items: center;
    }

    .chart-controls>* {
        margin-bottom: 10px;
    }

    .lab-badge {
        width: 80px;
        font-size: 14px;
        padding: 0 10px;
    }

    .sidebar-header h4 {
        display: none;
    }

    .sidebar .nav-link {
        gap: 0;
        width: 100%;
        justify-content: start;
        gap: 5px;
        padding: 10px;
        margin-bottom: 12px;
    }


    .main-c-inner {
        padding: 20px;
    }

    .header-inner {
        padding: 0 10px;
    }

    .custom-table tbody td {
        padding: 10px;
    }

    .header h2 {
        margin: 0 25px 0 0;
    }

    .sidebar .nav-link {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    table.table.custom-table {
        width: 255% !important;
    }

    .dashboard-new-side-bar {
        font-size: 25px;
        margin-left: 10px;
    }

    .sidebar {
        position: fixed;
        width: 60%;
        height: 100vh !important;
        background-color: white;
        left: 0;
        top: 0;
        transition: .3s all;
        padding: 10px;
        gap: 10px;
        transform: translateX(-100%);
        z-index: 99999;
    }

    .sidebar.show-bar {
        transition: .5s all;
        transform: translateX(0);
    }
}

@media (max-width:575px) {
    .sidebar {
        padding: 0;
    }

    table.table.custom-table {
        width: 390% !important;
    }

    .sidebar-header {
        margin-bottom: 0;
    }

    .lab-badge {
        font-size: 13px;
        padding: 5px;
    }

    .header h2 {
        display: none;
    }
}

*/