.mc-btm-bxx {
  height: 800px;
  overflow-y: auto;
}

.case-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section-heading .sub-heading {
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 5px;
  font-size: 22px;
}

.case-btn link {
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.submit-btn {
  box-shadow: 4px 4px 50px 0 rgba(58, 111, 248, 0.12);
  background: #0152a8;
  border-radius: 100px;
  width: max-content;
  border: none;
  margin-left: auto !important;
  padding: 10px 30px;
}

.table>thead {
  vertical-align: bottom;
}

.table thead th {
  border: none;
  padding: 15px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #1c1c1c !important;
}

table.dataTable th,
table.dataTable td {
  box-sizing: border-box;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table>tbody {
  vertical-align: inherit;
}

.table tbody tr {
  border-bottom: 1px solid #f8f9fa;
}

.table tbody td {
  border: none;
  padding: 15px 10px;
  vertical-align: middle;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #666;
}