

.doctor-mani-content-inner {
    height: 100%;
}

.doctor-header {
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    height: 90px;
    background: #fff;
    padding: 0 30px;

}

.flex-dd {
    flex: auto;
    padding-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}