.doctor-dashboard-main {
    min-height: 100vh;
}

body {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.doctor-main-content {
    padding: 0;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.stats_Cards .col-md-6:first-child .stat-card {
    background: #e3f2ef;
}

.stat-card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    box-shadow: none !important;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.stat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.stats_Cards .stat-card .text-muted {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #676767;
}

.statcard-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-card h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    color: #1c1c1c;
}

.stats_Cards .col-md-6:last-child .stat-card {
    background: #e3f1fa;
    width: 100;
}

.stat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

@media (min-width: 1200px) {
    .fs-4 {
        font-size: 1.5rem !important;
    }
}